

#alert-list {
    color: black;
}

#alert-list p {
    font: 16px "Gill Sans","Gill Sans MT",Calibri,Tahoma,sans-serif;
    font-weight: 100;
    margin: 0;
}

#alert-list h4 {
    font: 24px "Gill Sans","Gill Sans MT",Calibri,Tahoma,sans-serif;
    font-weight: 600;
    margin: 0;
}

#alert-list .alerts {
    padding: 5px 15px 5px 15px;
    margin: 10px 15px;
}

#alert-list .alerts:hover {
    padding: 5px 15px 5px 15px;
    margin: 10px 15px;
}


#controls h4 {
    font: 18px "Gill Sans","Gill Sans MT",Calibri,Tahoma,sans-serif;
    font-weight: 500;
    margin: 15px 0 10px 0px;
}

#controls .btn {
    font: 14px "Gill Sans","Gill Sans MT",Calibri,Tahoma,sans-serif;
    font-weight: 300;
}

#controls .btn-group-vertical {
    margin-left: 10px;
    margin-top: 0px;
    width: 100%;
}

#controls select {
    margin-left: 10px;
    width: 100%;
}

#controls .form-group > label {
    font: 16px "Gill Sans","Gill Sans MT",Calibri,Tahoma,sans-serif;
    font-weight: 300;
    margin: 5px 0 0 0;
}

#controls .form-group > button {
    margin: 10px 0 0 10px;
    width: 100%;
}

#controls .btn-group {
    margin: 0px 0 0 10px;
    width: 100%;
}

.btn-group#form-timeframe > label {
    width: 50%;
}

.whimsy #controls .btn-default:not(.active):not(select):hover  {
    background: linear-gradient(135deg, hsla(135,100%,50%, 0.7), hsla(180,100%,50%, 0.7),hsla(225,100%,50%, 0.7),hsla(270,100%,50%, 0.7), hsla(315,100%,50%, 0.7),hsla(0,100%,50%, 0.7), hsla(45,100%,50%, 0.7), hsla(90,100%,50%, 0.7), hsla(135,100%,50%, 0.7));
    color: white;
}
