{% extends "layout.html" %}
{% block css %}
  <link href="../static/css/charts.css" rel="stylesheet">
  <link href="alerts.css" rel="stylesheet">
{% endblock %}
{% block page_title %}
Input Alerts
{% endblock %}

{% block content %}
<div class='row'>
<h2 id="title-string">Current alerts</h2>
        <div class='col-md-2' id='controls'>
        <div class='hidden-xs' id='sidebar'>
        

<div id='display-controls' class="form-group">
<h4>Controls</h4>
<label class="form-label" for="min_severity" id="form-label-min_severity">Minimum Severity:</label>
<div class="select-box form-control" >
  <select onchange="changeParam('min_severity')" id="min_severity">
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="default">6 (Default)</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
</div>
<label class="form-label" for="product" id="form-label-product">Product:</label>
<div class="select-box form-control">
  <select onchange="changeParam('product')" id="product">
    <option value="desktop">Desktop</option>
    <option value="android">Android</option>
  </select>
</div>

</div>
        </div>  
        </div>
        
<!-- MAIN DIV  -->

<div class="col-md-10" id="main">
        
        <div id="warning-message" class="text-warning"></div>
        <div id="alert-list"></div>
        <div class="col-md-6 col-md-offset-2 jumbotron" id="error-message">
            <h2>Something went wrong:</h2>
            <p class="text-center" id="blank-text">No data for this period yet. Try some other parameters.</p>
            <p class="text-center" id="error-text"></p>
        </div>
        <div class="col-md-10 jumbotron" id="loading-throbber">
            <h1 class="text-center"><i class="fa fa-spinner fa-spin"></i></h1>
            <p>We're trying to get you your data, or at least some kind of valid error message. If you see this for an extended period of time, try a shift-refresh.</p>
    </div>
        </div>
        </div>
        

{% endblock %}
{% block js %}
    <script src="jquery-deparam.min.js"></script>
    <script src="alerts.js"></script>
{% endblock%}
