# Hidden files are cool
#.*

# Python
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
**/*/lib
**/*/lib64
**/*/libs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env
env*

# Raw data
*.csv
*.tsv

# Secret Files [Should be env vars anyway]
*.cnf
*.conf
*.p12
**secret**
**auth**

# UA server stuff
migrations/versions
useradvocacy/reports/uploads
useradvocacy/static/libs
useradvocacy/data/static_json/**.json
home/shared/code/flask/useradvocacy.wsgi
home/shared/code/flask/useradvocacy/static/libs