#feedback {
    list-style: none;
    font: 15px "Gill Sans","Gill Sans MT",Calibri,Tahoma,sans-serif;
}

.feedback-item {
    padding: 10px;
    margin: 5px 0;
}

.feedback-happy {
    background-color: #DFF0D8;
}

.feedback-sad {
    background-color: #F2DEDE;
}
.feedback-meta {
    margin: 0;
    padding: 0;
}

#feedback .feedback-meta li {
    display: inline;    
    padding: 0;
    margin: 0;
    font-size: 90%;
}


.feedback .feedback-meta  li:before { content: " | "; }
.feedback .feedback-meta  li:first-child:before { content: ""; }


