{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
<h2><span class="fa-stack fa">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
</span></i>User Advocacy Dashboards</i></h2>

<p>Here are the dashboards we've been working on. Have ideas for other kinds of user feedback data we can display for you? Just talk to someone on the UA team.</p>
</p>
<div class="list-group">
<a href="hello-v1" class="list-group-item">Hello Feedback by category <span class="badge">LIVE</span></a>
<a href="desktop-live" class="list-group-item">Sentiment dashboard for Firefox desktop <span class="badge">LIVE</span></a>
<a href="android-live" class="list-group-item">Sentiment dashboard for Firefox on Android <span class="badge">LIVE</span></a>
<a href="dev-edition" class="list-group-item">Feedback for Firefox Developer Edition <span class="badge">LIVE</span></a>
</div>
</div>

{% endblock %}
