
{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
	<h2>Welcome to the home of the User Advocacy Team!</h2>

	<h3>User Advocacy Mission</h3>

	<p>
		The User Advocacy team is the conduit for the voice, desires, and needs of the user, ensuring that they are heard at all levels of the organization. We distill the data from various communication channels and turn these insights into actions. As a team, our goal is to ensure that we, Mozilla, never fail our users. The brand promise is our driving force. It is our mantra.
	</p>
</div><!-- /.jumbotron -->

<div class="body-content">
 	<div class="row">
		<div class="col-lg-3">
			<h3><i class="fa fa-comments-o"></i>  Requesting Work?</h3>

			<p>
				Add the appropriate member of the UA team to the bug. You can also email the <a href="mailto:user-advocacy@mozilla.com">UA mailing list</a> if you are unsure who to contact.
			</p>
		</div>
		 
		<div class="col-lg-6"><h2>
			<h3><i class="fa fa-group"></i>  Team Information</h3>
			<p><strong>Team Mailing List:</strong> <a href="mailto:user-advocacy@mozilla.com">user-advocacy@mozilla.com</a></p>
			<table class="table table-striped">
				<tr>
					<th>Member</th>
					<th>Role</th>
					<th>Subteam</th>
					<th>Email</th>
				</tr>
				<tr>
					<td>Matt Grimes</td>
					<td>Manager, Desktop Lead</td>
					<td>Advocacy</td> 
					<td><a href="mailto:mgrimes@mozilla.com">mgrimes@mozilla.com</a></td>
				</tr>
				<tr>
					<td>Tyler Downer</td>
					<td>Project Manager</td>
					<td>Advocacy</td> 
					<td><a href="mailto:tdowner@mozilla.com">tdowner@mozilla.com</a></td>
				</tr>
				<tr>
					<td>Robert Rayborn</td>
					<td>Android Lead</td>
					<td>Qual</td>
					<td><a href="mailto:rrayborn@mozilla.com">rrayborn@mozilla.com</a></td>
				</tr>
				<tr>
					<td>Gregg Lind</td>
					<td></td>
					<td>Quant</td>
					<td><a href="mailto:glind@mozilla.com">glind@mozilla.com</a></td>
				</tr>
				<tr>
					<td>Ilana Segall</td>
					<td>Firefox OS Lead</td>
					<td>Quant</td>
					<td><a href="mailto:isegall@mozilla.com">isegall@mozilla.com</a></td>
				</tr>
			</table>
		</div>
		<div class="col-lg-3">
			<h3><i class="fa fa-link"></i>  Outside Links</h3>
			<p><a href="https://blog.mozilla.org/useradvocacy/">Blog</a></p>
			<p><a href="https://mana.mozilla.org/wiki/display/ADVOCACY/User+Advocacy">Mana page</a></p>
			<p><a href="https://input.mozilla.org/">Input</a></p>
			<p><a href="https://support.mozilla.org/">SUMO</a></p>
		</div>
	</div>
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->
<!--
<div class="jumbotron">


  <h1>Welcome to the User Advocacy Server</h1>
  <p>Pardon our dust! We're just getting it ready for stuff for y'all. This place is going to host:</p>
</div><!- - /.jumbotron - ->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-bar-chart"></i> Custom Dashboards</h2>
      <p>As awesome as it sounds, these are places you can see user feedback built for your needs. Talk to one of us to get your dashboard plans as part of our dashboard plans.</p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-files-o"></i> Awesome Reports</h2>
      <p>You've probably gotten them in your email before, but our team sends out dozens of reports each month. On all sorts of Mozilla products and initiatives. This is the future home for all of them.
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-magic"></i> Cool Data</h2>
      <p>We're constantly dreaming up new stuff to make happen and trying to get the data to answer the questions YOU have about user opinions of Mozilla projects. All of it will live here</p>
    </div>
  </div><!- - /.row - ->
</div>
-->
{% endblock %}
